<div class="row text-center leader-board">
<h1><%=t("players.leaderboard")%></h1>

<table>
  <thead>
    <tr>
      <th><%=t("players.name")%></th>
      <th><%=t("players.wins_count")%></th>
      <th><%=t("players.draws_count")%></th>
      <th><%=t("players.losses_count")%></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= player.wins_count %></td>
        <td><%= player.draws_count %></td>
        <td><%= player.loses_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

