<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Wins count:</strong>
  <%= @player.wins_count %>
</p>

<p>
  <strong>Loses count:</strong>
  <%= @player.loses_count %>
</p>

<p>
  <strong>Draws count:</strong>
  <%= @player.draws_count %>
</p>

<p>
  <strong>Game:</strong>
  <%= @player.game_id %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
